.topnav{
    a{
        @include raleway-regular-s
    }
}
h1{
    @include raleway-bold-4xl;
    line-height: 4.5rem;
}

h2{
    @include raleway-bold-2xl;
}

h3{
    @include raleway-bold-l;
}

p{
    @include open-sans-regular-m;
    line-height: 2rem;
}

li{
    @include open-sans-regular-m;
    line-height: 1.5rem;
}

.precios__contenedor-card__descripcion{
    
    &-titulo{
    @include open-sans-regular-l
    }

    &-precio{
    @include raleway-bold-3xl
    }
}

button{
    @include raleway-bold-s
}

.boton__transparente-regular{
    @include open-sans-regular-s
}

.footer__texto{
    @include open-sans-regular-xs
}